{% load i18n %}
{% load staticfiles %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}{% endblock %}
    {% block title_page%}{% endblock title_page %}
    </title>
    <meta name="robots" content="follow, all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}{% endblock meta-keywords %}" />
    <meta name="author" content="HumanityNoise" />
    {% block meta %}{% endblock meta %}
    {% block link %}{% endblock link %}
    <link rel='stylesheet' href='{% static 'bootstrap/css/bootstrap.css' %}'>
</head>
<body>
    {% block header %}{% endblock %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
    {% block script %}{% endblock script %}
    <script src='{% static 'bootstrap/js/jquery.min.1.11.0.js' %}'></script>
    <script src='{% static 'bootstrap/js/bootstrap.min.js' %}'></script>
</body>
</html>